@model List<MVC_Teeba_Project.Models.Place>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="/Places/PlaceDetails/@item.ID" class="fh5co-card-item">
            <figure>
                <img src="~/Content/images/Places/@item.Images.image1" alt="Image" class="img-responsive">
            </figure>
            <div class="fh5co-text">
                <h2>@item.Name</h2>
                <p>@item.Short_Description...</p>
                <p><span class="btn btn-primary">Descover Place</span></p>
            </div>
        </a>
    </div>
}